@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin: 0;
}
header {
  padding: 0 40px;
}
nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav {
  height: 80px;
  width: 50%;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  align-items: center;
  gap: 20px;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.logo {
  position: absolute;
  margin: 0;
}
.actions {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  align-items: center;
  gap: 25px;
}
